html {
  background-color: #062c43;
  background-image: url('https://live.staticflickr.com/4087/4979181548_fac5e3cd8d_b_d.jpg ');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}
